{{define "content"}}

<div id="error-page">

    <div class="row">
        <div class="col s12">
            <div class="browser-window">
                <div class="top-bar">
                    <div class="circles">
                        <div id="close-circle" class="circle"></div>
                        <div id="minimize-circle" class="circle"></div>
                        <div id="maximize-circle" class="circle"></div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div id="site-layout-example-top" class="col s12">
                            <h3 class="flat-text-logo center orange-text caption-uppercase">Sorry but an error occurred :(</h3>
                        </div>
                        <div id="site-layout-example-right" class="col s12 m12 l12">
                            <div class="row center">
                                <h1 class="text-long-shadow col s12">{{.Code}}</h1>
                            </div>
                            <div class="row center">
                                <h5 class="center orange-text col s12">{{.Message}}</h5>
                                <br/>
                                <br/>
                                <p class="center s12"><a href="/" class="btn btn-large blue waves-effect waves-light">Back</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}
