{{define "content"}}

<nav>
    <div class="orange lighten-1 nav-wrapper">
        <div class="col s12">
                <a href="/" class="breadcrumb">&nbsp; Home</a>
                <a href="#" class="breadcrumb hide-on-small-and-down">{{.Image.Registry}}</a>
                <a href="#" class="breadcrumb">{{.Image.Name}}</a>
                <a href="#" class="breadcrumb">{{.Image.Tag}}</a>
        </div>
    </div>
</nav>

<div class="row">
    <h5>Image Details</h5>
    <table class="">
        <tbody>
            <tr>
                <th>Image</th>
                <td>{{.Image.Registry}}/{{.Image.Name}}:{{.Image.Tag}}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{.Image.Name}}</td>
            </tr>
            <tr>
                <th>Tag</th>
                <td>{{.Image.Tag}}</td>
            </tr>
            <tr>
                <th>Registry</th>
                <td>{{.Image.Registry}}</td>
            </tr>
            <tr>
                <th>sha256</th>
                <td style="max-width: 100px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{.Image.Digest}}</td>
            </tr>
            <tr>
                <th>Image Size</th>
                <td>{{prettifySize .Image.Size}}</td>
            </tr>
            <tr>
                <th>Created On</th>
                <td>{{.Image.TagV1.Created | prettifyTime}}</td>
            </tr>
            <tr>
                <th>Layer Count</th>
                <td>{{len .Image.TagV2.Layers}}</td>
            </tr>
        </tbody>
    </table>
</div>
<br/>
<br/>
<div class="row">
    <h5>Manifest</h5>
    <table class="responsive-table">
        <thead>
        <tr>
            <th>Layer</th>
            <th>Digest</th>
            <th>Size</th>
        </tr>
        </thead>

        <tbody>
        {{range $i, $e := .Image.TagV2.Layers}}
            <tr>
                <td>{{inc $i}}</td>
                <td>{{index $e.Digest }}</td>
                <td>{{prettifySize $e.Size}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
{{end}}
